name: Build & Release

on:
  push:
    branches:
      - "**" 
    tags:
      - "v*"
  release:
     types: [published, prereleased]
  workflow_dispatch:

permissions:
  contents: write

env:
  ZIG_VERSION: 0.15.2

jobs:
  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: ${{ env.ZIG_VERSION }}
    
      - name: Install libpcap (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libpcap-dev
          
      - name: Build
        run: zig build -Doptimize=ReleaseFast
        
      - name: Rename binary
        shell: bash
        run: |
          BIN_DIR=zig-out/bin
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            mv $BIN_DIR/netool.exe $BIN_DIR/netool-windows.exe
          elif [[ "$RUNNER_OS" == "Linux" ]]; then
            mv $BIN_DIR/netool $BIN_DIR/netool-linux
          elif [[ "$RUNNER_OS" == "macOS" ]]; then
            mv $BIN_DIR/netool $BIN_DIR/netool-macos
          fi
          
      - name: Upload binary
        uses: actions/upload-artifact@v6
        with:
          name: netool-${{ matrix.os }}
          path: zig-out/bin/*
          if-no-files-found: warn
          
      - name: Upload to GitHub Release
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          files: zig-out/bin/*
